@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@media (min-width: 1200px) {
    .h2, h2 {
        color: #FF0000 !important;
        font-family: "Press Start 2P", system-ui;
    }
}

h2 {
    font-family: "Press Start 2P", system-ui;
    font-size:1.5rem;
    color: #FF0000 !important;
    
}
